<a href="https://colab.research.google.com/github/elsiecolme/EscapeEarth/blob/main/Interns/Elise/DownloadData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import numpy as np
!pip install lightkurve 
import lightkurve as lp

In [ ]:
!ls /content/gdrive/My\ Drive/EscapeEarthData

1161345_lc.csv	2161623_lc.csv	all_targets_S014_v1.csv  bls_rps.npy
1573836_lc.csv	Activity-2	bls_powers.npy		 df8.csv

In [ ]:
data = pd.read_csv('/content/gdrive/My Drive/EscapeEarthData/all_targets_S014_v1.csv',header=0,delimiter =' ')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [ ]:
data

                                                       #
0             # Full target list for orbit 35, sector 14
1                # Created Wed Jul 31 15:53:37 EDT 2019
2      # Concatenation of GI astero exo bright DDT pp...
3                                                      #
4                      TICID, Camera, CCD, Tmag, RA, Dec
...                                                  ...
20000              1980752885,2,1,16.91,303.1632,60.2862
20001               1980968952,2,1,8.65,301.3995,63.7061
20002               1980968953,2,1,8.76,301.3993,63.7056
20003               1981207128,2,1,7.88,300.4913,65.8903
20004               1981303680,3,2,8.20,300.3917,70.4546

[20005 rows x 1 columns]